# Servers
APP_NAME="MyAppName"
PORT=8000
DATABASE_URL="postgresql://postgres:password@localhost:5432/express_db?schema=public"
REDIS_URL="redis://localhost:6379"
BACKEND_URL="http://localhost:8000"
GEMINI_API_KEY=""

# Docker Compose Configuration (to customize container environment or run multiple projects on the same machine)
COMPOSE_PROJECT_NAME=express-api-boilerplate
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=express_db
REDIS_PORT=6379
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=password

# JWT: Generate yours at https://jwtsecrets.com/
JWT_SECRET=""

# FRONTEND
FRONTEND_URL="http://localhost:3000"

# RATELIMITER
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100

# Email Credentials (Use GMAIL for Testing Only)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="GMAIL Email Address - Replace it here"
SMTP_PASSWORD="Generate GMAIL APP Password - Replace it here" #Tutorial: https://www.youtube.com/watch?v=74QQfPrk4vE
SMTP_FROM="GMAIL Email Address - Replace it here"

# Docker Compose Configuration (Update Properly)
COMPOSE_PROJECT_NAME=express-api-boilerplate
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=express_db
REDIS_PORT=6379